@use '../../../../public/styles/main' as main;

#legal-section{
    margin-top: 100px;
    padding: 100px main.$outside-padding-1440 200px main.$outside-padding-1440;
    gap: 64px;

    #legal-notices{
        gap: 32px;

        .legal-notices{
            gap: 8px;
        }

        ul {
            display: block;
            list-style:disc;
            /* margin-block-start: 1em;
            margin-block-end: 1em; */
            padding-inline-start: 40px;
        }
    }

}