.header {
  width: 100%;
  max-width: 1440px;
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  border: 1px solid black;
  background-color: #FFFCF3;
}

#logo {
  font-size: 40px;
  font-weight: bolder;
  font-family: 'Syne';
}
