@use '../../../../public/styles/main' as main;
@use '../footer/footer.scss' as footer;


#header {
  width: 100%;
  height: main.$header-height;
  align-items: center;
  background-color: main.$cream;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  app-headercontent{
    width: 100%;
  }
}
