<section class="content-restriction display-flex-row" id="header">
    <div class="display-flex-row header-content" id="header-content">
        <button>
            <a routerLink=""><p class="logo black">[AD]</p></a>
        </button>
        <button (click)="navigationOpen = !navigationOpen">
            <img src="assets/icons/burger-menu.png" alt="" />
        </button>
    </div>
    <div class="" [class.display-flex-column]="navigationOpen" [class.display-none]="!navigationOpen" id="home-nagivation">
        <div class="header-content display-flex-row" id="navigation-header">
            <p class="logo">[AD]</p>
            <button (click)="navigationOpen = !navigationOpen">
                <img src="assets/icons/close-button-X.svg" alt="">
            </button>
        </div>
        <div class="display-flex-column" id="navigation-items">
            <button class="title-syne">About me</button>
            <button class="title-syne">My skills</button>
            <button class="title-syne">Portfolio</button>
        </div>
        <div class="display-flex-row" id="headerfooter">
            <div class="display-flex-row" id="headerfooter-content">
                <div class="display-flex-column">
                    <h2>Say 'Hi!'</h2>
                    <h6 class="white">dobo.aline@gmail.com</h6>
                </div>   
                <div class="external-logos display-flex-row">
                        <a href="https://github.com/alinedobo" target="_blank" rel="noopener noreferrer">
                            <img src="assets/icons/logo-github.png" alt="logo github">
                        </a>
                        <a href="mailto:dobo.aline@gmail.com">
                            <img src="assets/icons/logo-mail.png" alt="logo mail">
                        </a>
                        <a href="https://www.linkedin.com/in/alinedobo" target="_blank" rel="noopener noreferrer">
                            <img src="assets/icons/logo-linkedin.png" alt="logo linkedin">
                        </a>
                </div>
            </div>
        </div>
    </div>
</section>
