@use '../../../../public/styles/main' as main;


#references{
    width: 100%;
    padding: 100px main.$outside-padding-1440;
    gap: 48px;
    justify-content: center;

    @media screen and (max-width: 768px) {
        padding: 100px main.$outside-padding-768 0px main.$outside-padding-768;
    }

    #references-header{
        width: 100%;
        align-items: center;
        gap: 24px;

        p{
            width: 50%;
            text-align: center;
        }
    }

    #reference-wrapper{
        justify-content: space-between;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            gap: 32px;
        }

        .reference-container{
            align-items: center;
            border: 4px solid black;
            width: 30%;
            text-align: center;
            gap: 24px;
            padding: 16px 8px;

            @media screen and (max-width: 768px) {
            width: 60%;
            height: 400px;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            }

            @media screen and (max-width: 768px) {
            width: 80%;
            }
    
            img{
                height: 40px;
                width: 40px;
            }
    
            .reference-author-detail{
                gap: 8px
                
            }

            .reference-text{
                font-style: italic;
            }
        }
    }
}
#from-references-to-contact{
    position: absolute;
    top: -100px;
    right: -40px;

    @media screen and (max-width: 768px) {
        top: 10%;
        right: 25%;
    }
    
}