

<div class="content-restriction display-flex-column" id="contact-wrapper">
    <div class="display-flex-column" id="contact-header">
        <h2 id="sayhi">Say 'Hi!'</h2>
    </div>
    <div class="display-flex-column overpass-16 white" id="contact-form-wrapper">
        <div class="display-flex-column" id="contact-form-header">
            <h5>Want to discuss a new project?</h5>
            <p class="overpass-22 white">Say 'Hello'! Let's discuss your ideas and make it happen.</p>
        </div>
        <form [formGroup]="contactform" id="contact-form" class="display-flex-column overpass-16 white form" (ngSubmit)="formSubmit()">
            
            <div class="display-flex-column form-input-box">
                <label class="input-field-label" for="name">Name </label>
                <input class="input-field" id="name" type="text" formControlName="name" placeholder="Please enter your name.">
                @if (contactform.get("name")?.hasError("required") && contactform.get("name")?.touched) {
                    <p class="error-message">Please enter your name.</p>
                } @else if (contactform.get("name")?.hasError("minlength") && contactform.get("name")?.touched) {
                    <p class="error-message">Please enter at least 3 letters.</p>
                } @else {
                    <p class="display-hidden">.</p>
                }
            </div>
            <div class="display-flex-column form-input-box">
                <label class="input-field-label" for="mail">Email </label>
                <input class="input-field" id="mail" type="text" formControlName="email" placeholder="Please enter your email.">
                @if (contactform.get("email")?.hasError("required") && contactform.get("email")?.touched) {
                    <p class="error-message">Please enter your email address.</p>
                } @else if (contactform.get("email")?.hasError("email") && contactform.get("email")?.touched) {
                    <p class="error-message">Please enter a valid email address.</p>
                } @else {
                    <p class="display-hidden">.</p>
                }
            </div>

            <div class="display-flex-column form-input-box">
                <label class="input-field-label" for="text">Message </label>
                <!-- <input class="input-field" id="text" type="text" formControlName="message" placeholder="Please type your message."> -->
                <textarea class="input-field" id="text" formControlName="message" rows="4" cols="50" placeholder="Please type your message."></textarea>
                @if (contactform.get("message")?.hasError("required") && contactform.get("message")?.touched) {
                    <p class="error-message">Please enter your message.</p>
                } @else if (contactform.get("message")?.hasError("minlength") && contactform.get("message")?.touched) {
                    <p class="error-message">This message is too short.</p>
                } @else {
                    <p class="display-hidden">.</p>
                }
            </div>
            <div class="display-flex-row" id="checkbox-div">
                <input type="checkbox" id="checkbox" name="checkbox" value="" (click)="toggleCheckbox()" formControlName="privacyCheckbox">
                <label for="checkbox">I've read the <a routerLink="/privacy" id="privacy-policy">privacy policy</a> and agree to the processing of my data as outlined.</label><br>
            </div>
            @if(contactform.valid && isChecked){
                <button type="submit" (click)="formSubmit()">Send message</button>
            }
            @else {
                <button [disabled]="isDisabled" type="submit">Send message</button>
            }
            <p id="thank-you" [class]="classList">Thank you for your message.</p>
        </form>
    </div>
</div>