@use '../../../../public/styles/main' as main;


#contact-wrapper{
    z-index: 1;
    width: 100%;
    align-items: center;
    top: 150px;

    #contact-header{
        width: 100%;
        padding: 16px 100px;

        h2{
        align-self: flex-start;
            color: white;
        }
    }

    #contact-form-wrapper{
        align-items: center;
        padding: 32px 100px;
        gap: 24px;
        width: 100%;

        #contact-form-header{
            align-items: center;
            background-color: black;
            width: 100%;
            gap: 16px;
        }

        .form{
            border: 3px solid red;
            gap: 24px;

            #privacy-policy{
                color: main.$teal;
            }

            .form-input-box{
                border: 1px solid yellow;
                width: 100%;

                .input-field{
                    width: 100%;
                }
            }
        }
    }
}