@use '../../../../public/styles/main' as main;

p {
    font-family: Overpass;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
}

.privacy-policies{
    gap: 32px;
}

.privacy-paragraph{
    display: flex;
    flex-direction: column;
    gap: 8px;

    ul{
        margin-left: 24px;
    }
}

#privacy-section {
    min-height: calc(100dvh - main.$footer-height - main.$header-height);
    margin-top: 100px;
    padding: 100px main.$outside-padding-1440 200px main.$outside-padding-1440;
    gap: 64px;

    @media screen and (max-width: 768px) {
        padding: 100px main.$outside-padding-768 200px main.$outside-padding-768;
    }
}
