@use '../../../../public/styles/main' as main;

#privacy-section{
    min-height: calc(100dvh - main.$footer-height - main.$header-height);
    margin-top: 100px;
    padding: 100px main.$outside-padding-1440 200px main.$outside-padding-1440;
    gap: 64px;

    #privacy-policies{
        gap: 32px;
    }
}