

<div class="footer">
    <div>
        <p class="logo" id="logo">[AD]</p>
        <p class="overpass-22">&copy; Aline Dobo 2026</p>
    </div>
    <div class="links">
        <div class="external-logos">
            <img src="assets/icons/logo-github.png" alt="logo github">
            <img src="assets/icons/logo-mail.png" alt="logo mail">
            <img src="assets/icons/logo-linkedin.png" alt="logo linkedin">
        </div>
        <p class="overpass-400">Legal notice</p>
    </div>
</div>