@use '../../../../public/styles/main' as main;

#footer {
  display: flex;
  width: 100%;
  height: main.$footer-height;
  background: url('../../../../public/assets/images/Rectangle-5.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  /* padding: 24px 100px; */
  align-items: flex-end;

  #app-footer-content{
    width: 100%;
  }
}

