<section class="skills" id="skills">
    <h2>My skills</h2>
    <div class="skills_wrapper">
        <div class="skills_wrapper_row">
            @for (entry of rowOne; track entry) {
            <div class="skill_box">
                <img src="{{ entry[1] }}" alt="logo {{ entry[0] }}">
                <p>{{ entry[0] }}</p>
            </div>
            }
        </div>
        <div class="skills_wrapper_row">
            @for (entry of rowTwo; track entry) {
            <div class="skill_box">
                <img src="{{ entry[1] }}" alt="logo {{ entry[0] }}">
                <p>{{ entry[0] }}</p>
            </div>
            }
        </div>
    </div>
    <div class="contact-me">
        <img src="assets/icons/Icon_learning.png" alt="icon learning">
        <p class="overpass-22">Don't see the skill you need? <a href="mailto:">Contact me!</a> I'm always eager to learn.</p>
    </div>
</section>
<div class="next-section-animation">
    <img src="assets/icons/arrow-down-right.svg" alt="icon arrow down" id="from-skills-to-portfolio">
    <div id="portfolio-section"></div>
</div>
