<section class="skills" id="skills">
    <div id="skills-h2">
        <h2 class="section-title">{{'skills.title' | translate}}</h2>
    </div>
    <div class="skills_wrapper">
        <div class="skills_wrapper_row">
            @for (entry of rowOne; track entry) {
            <div class="skill-box">
                <div class="icon-container">
                    <img class="skill-icon" src="{{ entry[1] }}" alt="logo {{ entry[0] }}">
                </div>
                <p>{{ entry[0] }}</p>
            </div>
            }
        </div> 
    </div>
    <div class="contact-me">
        <img src="assets/icons/Icon_learning.png" alt="icon learning">
        <p class="overpass-22">{{'skills.missing-skills' | translate}} <button class="teal"><a href="#contact-wrapper">{{'skills.contact-cta' | translate}}</a></button> {{'skills.learn' | translate}}</p>
    </div>
</section>
<div class="next-section-animation">
    <img src="assets/icons/arrow-down-right.svg" alt="icon arrow down" id="from-skills-to-portfolio">
    <div id="portfolio-section"></div>
</div>
