@use '../../../../public/styles/main' as main;

#mega-section{
    width: 100%;
    /* background: url('../../../../public/assets/images/Rectangle-5-big.svg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 200%; */


    #footer-background{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: main.$footer-height;
        background-color: black ;
        z-index: -1;
    }
}
