@use "../../../../public/styles/main.scss" as main;

#footercontent{
    width: 100%;
    justify-content: space-between;
    padding: 24px main.$outside-padding-1440;

    @media screen and (max-width: 768px) {
        padding: 24px main.$outside-padding-768;
    }

    p {
    color: white;
    }

    .links {
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;

        p {
            padding: 10px 5px;
        }
    }

    .external-logos {
        width: fit-content;
        display: flex;
        gap: 42px;

        @media screen and (max-width: 768px) {
            gap: 16px;
        }

        img {
            height: 40px;
            width: 40px;

            @media screen and (max-width: 768px) {
                height: 32px;
                width: 32px;
            }
        }

    }
}
