<section id="footercontent" class="display-flex-row">
    <div>
        <p class="white logo ">[AD]</p>
        <p class="overpass-22">&copy; Aline Dobo 2026</p>
    </div>
    <div class="links">
        <div class="external-logos">
            <a href="https://github.com/alinedobo" target="_blank" rel="noopener noreferrer">
                <img src="assets/icons/logo-github.png" alt="logo github">
            </a>
            <a href="mailto:dobo.aline@gmail.com">
                <img src="assets/icons/logo-mail.png" alt="logo mail">
            </a>
            <a href="https://www.linkedin.com/in/alinedobo" target="_blank" rel="noopener noreferrer">
                <img src="assets/icons/logo-linkedin.png" alt="logo linkedin">
            </a>
        </div>
        <button>
            <p class="overpass-400" routerLink="/legal">Legal notice</p>
        </button>
    </div>
</section>
