@forward 'fonts';
@forward 'variables';
@forward 'templates';
@forward 'typography';

@use 'variables';

.content-restriction {
    width: 100%;
    max-width: 1440px;
}

.space-between {
    justify-content: space-between;
}

.position-relative {
    position: relative;
}

.display-none {
    display: none;
}

.display-hidden {
    color: black;
}

button:hover {
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}

.hover-teal:hover {
    color: variables.$teal;
}

.hover-underline:hover {
    text-decoration: underline;
}

.section-side-padding {
    padding: 0px 100px 0px 100px;
}

.teal {
    color: variables.$teal;
}

.bold {
    font-weight: bold;
}
.space-between {
    justify-content: space-between;
}

.position-relative {
    position: relative;
}