@forward 'fonts';
@forward 'variables';
@forward 'templates';
@forward 'typography';
@forward 'keyframes';

@use 'variables';

.content-restriction {
    width: 100%;
    max-width: 1440px;
}

.space-between {
    justify-content: space-between;
}

.position-relative {
    position: relative;
}

.display-none {
    display: none;
}

.display-hidden {
    color: black;
}

button:hover {
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}

.hover-teal:hover {
    color: variables.$teal;
}

.hover-underline:hover {
    text-decoration: underline;
}

.section-side-padding {
    padding: 0px 100px 0px 100px;
}

.teal {
    color: variables.$teal;
}

.bold {
    font-weight: bold;
}
.space-between {
    justify-content: space-between;
}

.position-relative {
    position: relative;
}

.sm-icon {
    height: 40px;
    width: 40px;
    @media screen and (max-width: 768px) {
        height: 32px;
        width: 32px;
    }
}
.sm-icon:hover {
    transform: scale(1.5);
    transform: translate(0px, -25px);
    transition: all 0.25s ease-in;
}

.arrow-down-left {
    position: relative;
    animation: arrowDownLeftAnimation 2s;
    animation-iteration-count: infinite;
}

.arrow-down-right {
    position: relative;
    animation: arrowDownRightAnimation 2s;
    animation-iteration-count: infinite;
}

@keyframes arrowDownLeftAnimation {
    0% {
        right: 0px;
    }
    100% {
        right: 125px;
        top: 125px;
    }
}

@keyframes arrowDownRightAnimation {
    0% {
        left: -50px;
        top: -50px;
    }
    100% {
        left: 125px;
        top: 125px;
    }
}

.section-title:hover{
    color: variables.$teal;
}
