@forward 'fonts';
@forward 'variables';
@forward 'templates';
@forward 'typography';

@use 'variables';



.content-restriction{
    width: 100%;
    max-width: 1440px;
}

.space-between{
    justify-content: space-between;
}

.position-relative{
    position: relative;
}

.display-none{
    display: none;
}

.display-hidden{
    color: black;
}

button:hover{
    cursor: pointer;
    color: variables.$teal;
    
}

a:hover{
    text-decoration: underline;
}