

<div class="content-restriction display-flex-column" id="portfolio">
    <div class="display-flex-column" id="portfolio-header">
        <h2>Portfolio</h2>
        <p class="overpass-22">Explore a selection of my work here - Interact with projects to see my skills in action.</p>
    </div>
    <div class="project-box display-flex-row" id="join-wrapper">
        <div class="project-preview">
            <img src="assets/images/portfolio_join.png" alt="screenshot join">
        </div>
        <div class="project-details-wrapper display-flex-column">
            <h3 class="project-rank">01/04</h3>
            <div class="project-details-text display-flex-column">
                <h3 class="project-name">Join</h3>
                <h5>Angular | TyeScript | HTML | CSS | Firebase</h5>
                <p class="overpass-16">Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.
                </p>
            </div>
            <button class="overpass-22 github-link">Github</button>
        </div>
    </div>
</div>
