

<div class="content-restriction display-flex-column" id="portfolio">
    <div class="display-flex-column" id="portfolio-header">
        <h2>Portfolio</h2>
        <p class="overpass-22">Explore a selection of my work here - Interact with projects to see my skills in action.</p>
    </div>
        @for (item of projectList; track item.name; let index = $index, count = $count) {
            <div class="project-box display-flex-row" id="join-wrapper">
            <div class="project-preview">
                <img src="assets/images/{{item.asset}}" alt="screenshot {{item.name}}">
            </div>
            <div class="project-details-wrapper display-flex-column">
                <h3 class="project-rank">{{index+1}}/{{count}}</h3>
                <div class="project-details-text display-flex-column">
                    <h3 class="project-name">{{item.name}}</h3>
                    <h5>
                    @for (technology of item.technologies; track technology) {
                        {{technology}} | 
                    }</h5>
                    <p class="overpass-16">{{item.description}}</p>
                </div>
                <button class="overpass-22 github-link">
                    <a href={{item.githubUrl}} target="_blank" rel="noopener noreferrer">Github</a>
                </button>
            </div>
        </div>
        }
</div>
