<div class="content-restriction display-flex-column aboutme">
    <h2 class="aboutme_title">About me</h2>
    <div class="display-flex-row aboutme_card">
        <div class="display-flex-column">
            <p>Write some information about yourself that is IT related. Why are you passionate about coding?Show a desire to learn new technologies.
                <br>Add a brief description of your problem-solving approach.You can include some key traits like: analytical thinking, creativity, persistence and collaboration.
            </p>
            <div class="display-flex-row">
                <img src="assets/icons/house.png" alt="icon house">
                <p>Based in Berlin-ish</p>
            </div>
            <div class="display-flex-row">
                <img src="assets/icons/laptop.png" alt="icon laptop">
                <p>Open to work remote</p>
            </div>
        </div>
        <div >
            <img src="assets/images/aline_bw.jpeg" alt="" id="profile-photo">
        </div>
    </div>
</div>