<div class="content-restriction display-flex-column" id="aboutme">
    <h2 class="aboutme_title section-title">{{ 'about.title' | translate}}</h2>
    <div class="display-flex-row overpass-22" id="aboutme_card">
        <div class="display-flex-column" id="aboutme-text">
            <div id="aboutme-description">
                <p>{{'about.description' | translate}}</p>
            </div>
            <div class="display-flex-column" id="aboutme-info">
                <div class="display-flex-row aboutme-info">
                    <img src="assets/icons/house.png" alt="icon house">
                    <p>{{'about.based' | translate}}</p>
                </div>
                <div class="display-flex-row aboutme-info">
                    <img src="assets/icons/laptop.png" alt="icon laptop" >
                    <p>{{'about.remote' | translate}}</p>
                </div>
            </div>
            <button><a href="#contact-wrapper">{{'about.talk-cta' | translate}}</a></button>
        </div>
        <div class="display-flex-column" id="aboutme-photo">
            <img src="assets/images/aline_bw.jpeg" alt="" id="profile-photo">
        </div>
    </div>
</div>
<div class="next-section-animation">
    <img class="arrow-down-left" src="assets/icons/arrow-down-left.svg" alt="icon arrow down" id="from-aboutme-to-skills">
    <div id="skills-section"></div>
</div>