@use '../../../../public/styles/main' as main;

.aboutme{
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    padding: 24px 100px;
}

.content-restriction{
    width: 100%;
}

.display-flex-column{
    display: flex;
    flex-direction: column;
}

.display-flex-row{
    display: flex;
}

#profile-photo{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

